html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: lightgray;
    gap: 1em;
}

.title {
    margin-bottom: 5em;
}

.buttons {
    display: flex;
    gap: 5em;
}

button {
    padding: 20px 30px;
    font-weight: bold;
    border-color: black;
    background-color: antiquewhite;
    width: 110px;
    cursor: pointer;
}

p {
    margin: 5px;
    font-size: 20px;
}

div {
    font-size: 20px;
}
